#content{
  /*margin-left: 15em;*/
  height: 100%;
  padding-left: 2.5em;
  display: inline-block;
  width: 65%;
}

section h2{
  font-size: 3em;
  text-align: center;
  margin-bottom: .5em;
  padding-top: 30px;
} 


p{
  font-size: 1.5em;
  text-align: center;
}

p#open_daily{
  margin-top:.5em;
  margin-bottom:.5em;
}

ul.hours{
    font-size: 1.5em;
    line-height: 1.3em;
    text-align: center;
}


@media screen and (max-width:980px) and (min-width: 768px){

#content{
  height: 100%;
  display:  inline-block;
  float: left;
  padding-left: 0;
  width: 60%;
}

 header#page-header{
  width: 35%;
 }
 
}

@media screen and (max-width: 768px){
#content{
  color: #1C1C1C;
  padding-left: 0;
  width: 100%;
}

ul.hours{
  height: 100%;
  text-align: center;
}


}



